.main-content{
  max-width: 1120px;
  background-color: #f8f8f8;
}
body {
  font-family: 'TT Lakes-Regular', sans-serif;
}
.swiper-pagination-bullet-active{
  background: $color-text !important;
}
.icons-size {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover{
    animation: shake-rectangle-02 .16s infinite alternate;
}

}
.slide-price-button:hover{
  animation: shake-rectangle-02 .16s infinite alternate;
}

.slider-content__link:hover{
  animation: shake-rectangle-02 .16s infinite alternate;
}

@keyframes shake-rectangle-02 {
  0% { transform: translate(-1px, 1px) rotate(-7deg); }
  33% { transform: translate(-2px, 2px) rotate(7deg); }
  66% { transform: translate(2px, 2px) rotate(-7deg); }
  100% { transform: translate(2px, 2px) rotate(7deg); }
}

.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 90px;
  font-family: 'TT Lakes-Regular', sans-serif;
  border-bottom: 1px solid $border-bottom;
  background: #fff;
  @media (min-width: 1366px) {
      display: none;
  }
  &__burger {
    width: 40px;
    height: 40px;
    background: no-repeat center $color-icons url(../img/icons/burger.png);
  }
  &__logo {
    padding-left: 16px;
  }
}
  .header-icons {
    display: flex;
    align-items: center;
    margin-left: auto;

    .header-icons-tablet {
      display: flex;
      @media (max-width: 768px) {
          display: none !important;
      }

      &__phone {
        background: no-repeat center $color-icons url(../img/icons/call.png);
      }
      &__chat {
        background: no-repeat center $color-icons url(../img/icons/chat.png);
        margin-left: 16px;
      }
      &__profile {
        background: no-repeat center $color-icons url(../img/icons/profile.png);
        margin-left: 16px;
      }
    }



    .header-icons-mobi {
      display: flex;
      padding-left: 16px;
      position: relative;

      &__repair {
        background: no-repeat center $color-icons url(../img/icons/repair.png);
        margin-left: 16px;
      }
      &__status {
        background: no-repeat center $color-icons url(../img/icons/check-status.png);
        margin-left: 16px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        border-left: 2px solid $color-border;
        z-index: 2;
      }
    }
  }

