
.menu-content {
  .menu-head-icons {
    @media (min-width: 1366px){
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'TT Lakes-Medium', sans-serif;
    }
    .menu-head {
      font-family: 'TT Lakes-Bold', sans-serif;
      padding-left: 32px;
      background: no-repeat left url(../img/highlight.png);
    }

    .menu-icons {
      display: none;
      @media (min-width: 1366px) {
        display: flex;
      }
    }
  }
}
  .menu {
    display: flex;
    font-family: 'TT Lakes-Medium', sans-serif;
    font-size: 16px;
    overflow: auto;
    white-space: nowrap;
    padding: 16px 24px;
    @media(min-width: 1120px){
      flex-wrap: wrap;
      padding: 12px;
    }
    .menu__elm {
      a {
        padding: 0 16px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color-text;
      }
    }
    .menu__elm--active {
      border: 2px solid $border-menu;
      border-radius: 6px;
      background: #ffffff;
    }

  }
.menu-icons__repair{
  @media (min-width: 1366px) {
    display: flex;
    text-decoration: none;
  }
  .header-icons-mobi__repair{
    @media (min-width: 1366px) {
      width: 40px;
      height: 40px;
      background: $color-icons no-repeat center url(../img/icons/repair.png);
      margin-right: 32px;
    }
  }
}
.menu-icons__check-status{
  @media (min-width: 1366px) {
    display: flex;
    text-decoration: none;
  }
  .header-icons-mobi__status{
    @media (min-width: 1366px) {
      width: 40px;
      height: 40px;
      background: $color-icons no-repeat center url(../img/icons/check-status.png);
      margin-right: 32px;
    }
  }

}
.text{
  @media (min-width: 1366px) {
    margin: auto;
    padding-right: 16px;
    color: $color-text;
  }
}

