.slider-type {
  padding-bottom: 24px;
  border-bottom: 1px solid $border-bottom;
  padding-left: 24px;
  .swiper-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      overflow: hidden;
      height: 175px;
    }
  }
}
.slider-type__head{
  display: flex;
  align-items: center;
  width: auto;
  height: 56px;
  background: $gradient;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-text;
  padding-left: 24px;
}

.swiper-type {
  .swiper-slide{
    width: 240px;
    height: 160px;
    background: white;
    border: 2px solid $color-border;
    border-radius: 6px;
    @media (min-width: 768px) {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-right: 28px;
    }
    .slider-content-repair{
      padding: 16px;
    }
  }
}
.slider-content__link{
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.swiper-button-active{
  height: 100% !important;
}
.sp--width{
  margin-top: 32px;
}
